.config/*
.vim/*
.viminfo
.npm/*
.nvm
.gem/*
.gvm
.rvm/*
.pyenv/*
.forever
.bash_history
.local
.node-gyp
.env
*/.env
*/*/.env
*/*/*/.env
*/*/*/*/.env
*/*/*/*/*/.env
.meteor/*
.meteorite/*
.meteorsession
.cache/*
.nave/*
*.com
.selected_editor
.forever
dev/*
private
html
